#resourceCard {
    position: relative;
    width: 300px;
    font-family: 'roboto';
}

#resourceCard hr{
    position: absolute;
    margin-top: 16.7rem;
    width: 100%;
    height: .05rem;
    background-color:#3FCCFF;
}
#resourceCard > .card{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25), 5px 0px 2px rgba(0, 0, 0, 0.25);
}

/*----------- HEADER ----------*/
#resourceCard .lbl_publicationResourceCard {
    background-image: url(/src/assets/img/BackgroundBlueHeadCard.png);
    background-repeat: no-repeat;
    width:100%;
}
#resourceCard .span_publicationResourceCard {
    padding: 7px;
    font-size: 13px;
    color: white;
}

/*---------- BODY ----------*/
#resourceCard .titleResourceCard {
    padding: 0 20px;
    color: white;
}
#resourceCard .contentPictureResourceCard {
    padding: 0 20px 10px 20px;
}
#resourceCard .ProfilPictureResourceCard{
    padding-top: 1.2rem;
}
#resourceCard .span_PseudonymeMembreResourceCard{
    margin-left: .9rem;
    color:white;
}
#resourceCard .span_ProfessionMembreResourceCard{
    position:absolute;
    font-style: italic;
    font-size: .9rem;
    margin-top: 1.2rem;
    margin-left: 3.4rem;
    color:white;
}

/*----------- FOOTER ----------*/
.FooterResourceCard {
    background: linear-gradient(270deg, #E04980 -45.56%, rgba(255, 255, 255, 0) 100%), #00B0F0;
    height: 50px;
}
#resourceCard .iconResourceCard{
    justify-content: center;
    align-items: center;
}
#resourceCard .iconResourceCard > span{
    padding: .1rem;
    color:white;
    font-weight: bold;
    width: 1.5rem;
    margin-top: .1rem;
    margin-left: 2.1rem;
}
#resourceCard .iconResourceCard > span .span_numberIconResourceCard {
    margin-left: .3rem;
}