.backgroundVisitorSitePresentation{
    background-color: #353535;
    margin-left: 250px;
    margin-top: 67px;
}
.imgVisitorSitePresentation{
    position:absolute;
    margin-left: 60rem;
    width: 200px;
}
.dispositionImageHome{
    display: flex;
    flex-direction:row;
}
.dispositionImageHome>h1{
    font-family: Roboto;
    color:white;
}

.dispositionBlocHome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pVisitorSitePresentation{
    font-family: Roboto;
    text-align: justify;
    color:white;
}
.row{
    margin-left: 1rem;
}
.linkVisitorSitePresentation{
    text-decoration: none;
}
