.positionElementParentConditions{
    display: flex;
}
.positionTextConditions{
    display: flex;
    flex-direction: column;
}
    .enfantPostionTextConditions{
        display: flex;
        margin: 10px;
        padding: 5px;
    }