.titleVisitorSitePresentationTendances{
    font-family: Roboto;
    font-size: 6rem;
    color:white;
}
.pVisitorSitePresentationTendances{
    font-family: Roboto;
    text-align: justify;
    color:white;
}

.linkVisitorSitePresentationTendances{
    text-decoration: none;
}