.backgroundTopNavBar{
    background-color: #3D3D3D;
    width: 100%;
    height: 67px;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 2px 2px 2px 2px;
}
.imgTopNavBar{
    width:140px;
    position: absolute;
}
.positionButtonConnexionInscription{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.buttonConnexion{
    margin: 12px;
    padding: 5px;
    border-radius: 5px;
    background-color: gray !important;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:inset    2px 2px 2px 0px rgba(255,255,255,.5),
                        7px 7px 20px 0px rgba(0,0,0,.1),
                        4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.buttonInscription {
    margin: 12px;
    margin-right: 25px;
    padding: 5px;
    border-radius: 5px;
    background-color: #E04980;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:inset    2px 2px 2px 0px rgba(255,255,255,.5),
                        7px 7px 20px 0px rgba(0,0,0,.1),
                        4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.interrogationPointTopBar{
    color: white;
    margin: 20px 30px 22px 0;
    font-size: 20px;
}
.modal-content {
    background-color: #001922 !important;
    color: #fff ;
}

.content{
    display: none;
}
.activeContent{
    display: grid;
    padding: 6px 12px;
}
.activeText{
    color :#E04980 ;
    font-weight: bold;
    border-bottom: 2px solid #E04980;
    cursor: pointer;
}
.activeText:hover{
    text-decoration: none;
    color: #E04980;
}
.positionBoutonInscriptionConnexion{
    position: absolute;
    top: 46px;
    padding: auto;
    margin: 0;
    padding: 0;
}

.btnTopNavBarInsCon{
    cursor: pointer;
    color: white;
}
.btnTopNavBarInsCon:hover{
    text-decoration: none;
    color: #3FCCFF;
}
.btnTab{
    border: none ;
    color:#fff;
    background-color: #001922;
}
.btnModal{
    text-align: center;
    background-color: #004158 ;
    color : #3FCCFF;
    margin: 12px;
    margin-right: 25px;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.modal-header .close{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}
.modal-header .close:hover{
    color: #E04980;
    text-shadow: none;
}
